<% provide(:header_active, "Root") %>
<% breadcrumb :root %>
<% if current_user %>
  <h1><strong>Witaj <%= current_user.username %> </strong></h1>
<% end %>
<p>Jak obiecałem tak się stało :)</p>
<p>Strona ta będzie kontynuacją i rozwinięciem strony: <%= link_to "L5k by Kask", "http://l5k.cba.pl" %></p> 
<% if current_user && current_user.admin? %>
  <%= link_to "Dodaj Post!", new_announcement_path %>
<% end %>
<%= will_paginate @announcements %>
<%= render 'list_of_announcements' %>