<% provide(:title, "Nowy News") %>
<% provide(:header_active, "Root") %>
<% breadcrumb :add_announcement %>
<h1> Dodaj Newsa ;) </h1>


    <%= form_for(@announcement) do |form| %>
      <div class="form-group">
        <%= render 'shared/error_messages' %>
        <%= form.label :title, "Nazwa" %>
        <%= form.text_field :title, class: "form-control" %>

        <%= form.label :message, "Treść" %>
        <%= form.text_area :message, size: "48x12", class: "form-control" %>
      </div>
      <div class="text-center padding_top-10">
        <%= form.submit "Dodaj Newsa ;)", class: "btn btn-primary" %>
      </div>
    <% end %>
