<h1><strong><%= @announcement.title %></strong></h1>
<div class="bottom_border">
  <p><%= simple_format(@announcement.message) %></p>
</div>
<div class="bottom_border">
  <h3>Komentarze: </h3>
  <% @announcement.comments.reverse_order.each do |comment| %>
    <p><strong><%= comment.author %>: </strong><%= comment.content %></p>
  <% end %>
</div>
<% if current_user && _user_signed_in? %>
  <div>
    <%= render partial: 'shared/create_comments_form', locals: { announcement: @announcement, url: announcement_path(@announcement.id) } %>
  </div>
<% end %>
<p><%= link_to "powrót", root_path %></p>
