<h1><strong><%= @announcement.title %></strong></h1>
<div class="bottom_border">
  <p><%= @announcement.message %></p>
</div>
<div class="bottom_border">
  <h3>Komentarze: </h3>
  <% @announcement.comments.reverse_order.each do |comment| %>
    <p><strong><%= comment.author %>: </strong><%= comment.content %></p>
  <% end %>
</div>
<div>
  <%= render partial: 'shared/create_comments_form', locals: { announcement: @announcement, url: announcement_path(@announcement.id) } %>
</div>
<p><%= link_to "powrót", root_path %></p>
