<h1><strong><%= @announcement.title %></strong></h1>
<div class="bottom_border">
  <p><%= simple_format(@announcement.message) %></p>
</div>
<div class="bottom_border">
  <h3>Komentarze: </h3>
  <ul class="show_comment_list no_dot" id="show_comment_list_<%= @announcement.id %>">
    <% @announcement.comments.reverse_order.each do |comment| %>
      <%= render partial: 'announcements/announcement_show_comment', locals: {announcement: @announcement, comment: comment, url: announcement_path(@announcement.id)} %>
    <% end %>
  </ul>
</div>
<% if current_user && user_signed_in? %>
  <div>
    <%= render partial: 'shared/create_comments_form', locals: { announcement: @announcement, url: announcement_path(@announcement.id) } %>
  </div>
<% end %>
<p><%= link_to "powrót", root_path %></p>
