<div class="simple_school_form margin_bottom_1em">
  <%= simple_form_for :schools, { url: show_schools_path } do |f| %>
      <%= f.input :clans, collection: CLAN_NAMES_ARRAY, label: "Wybierz klan:" %>
      <%= f.input :school_classes, collection: SCHOOL_CLASSES, label: "Wybeirz klasę:" %>
      <%= f.submit "Szukaj!", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="advance_school_button announcement_button float_left right_border margin_bottom_1em">
  <p><strong>Zaawansowane przeszukiwanie</strong></p>
</div>

<div class="advance_school_form clear_float">
  <p><strong>Wybierz klan/y:</strong></p>
  <%= simple_form_for :schools, { url: show_schools_path } do |f| %>
    <%= f.input :clans, collection: CLAN_NAMES_ARRAY, as: :check_boxes, label: "Wybeirz Klan lub Klany:" %>
    <%= f.input :school_classes, collection: SCHOOL_CLASSES, as: :check_boxes, label: "Wybierz klasę lub klasy:" %>
    <%= f.submit "Szukaj!", class: "btn btn-primary" %>
  <% end %>
</div>
