<%= form_tag show_schools_path do %>
  <ul class="no_dot">
    <li class="inline_block">
      <ul class="no_dot no_padding_and_margin"> 
        <li><%= check_box_tag 'clans[]','Feniks', (true if !@clans.nil? and @clans.include? 'Feniks'), class: "clan_checkbox" %> Feniks</li>
        <li><%= check_box_tag 'clans[]','Jednorożec', (true if !@clans.nil? and @clans.include? 'Jednorożec'), class: "clan_checkbox" %> Jednorożec</li>
        <li><%= check_box_tag 'clans[]', 'Krab', (true if !@clans.nil? and @clans.include? 'Krab'), class: "clan_checkbox" %> Krab</li>
        <li><%= check_box_tag 'clans[]', 'Lew', (true if !@clans.nil? and @clans.include? 'Lew'), class: "clan_checkbox" %> Lew </li>
      </ul>
    </li>
    <li class="inline_block">
      <ul class="no_dot no_padding_and_margin">
        <li> <%= check_box_tag 'clans[]', 'Modliszka', (true if !@clans.nil? and @clans.include? 'Modliszka'), class: "clan_checkbox" %> Modliszka</li>
        <li><%= check_box_tag 'clans[]', 'Pająk', (true if !@clans.nil? and @clans.include? 'Pająk'), class: "clan_checkbox" %> Pająk</li>
        <li><%= check_box_tag 'clans[]', 'Skorpion', (true if !@clans.nil? and @clans.include? 'Skorpion'), class: "clan_checkbox" %> Skorpion</li>
        <li><%= check_box_tag 'clans[]', 'Smok', (true if !@clans.nil? and @clans.include? 'Smok'), class: "clan_checkbox" %> Smok</li>
      </ul>
    </li>
    <li class="inline_block">
      <ul class="no_dot no_padding_and_margin">
        <li><%= check_box_tag 'clans[]', 'Zuraw', (true if !@clans.nil? and @clans.include? 'Zuraw'), class: "clan_checkbox" %> Żuraw</li>
        <li><%= check_box_tag 'clans[]', 'Cesarskie', (true if !@clans.nil? and @clans.include? 'Cesarskie'), class: "clan_checkbox" %> Szkoły Cesarskie </li>
        <li><%= check_box_tag 'clans[]', 'Pomniejsze', (true if !@clans.nil? and @clans.include? 'Pomniejsze'), class: "clan_checkbox" %> Pomniejsze Klany</li>
        <li><%= check_box_tag 'select_all', 'nil', false, class: "select_all_clans" %> Zaznacz Wszystkie</li>
	    </ul>
	  </li>
	</ul>
  <p>	Wybierz klasę: </p>
  <ul class="no_dot">
  	<li class="inline_block">
  	  <ul class="no_dot no_padding_and_margin">
  	    <li><%= check_box_tag 'school_classes[]', 'Artysta', (true if !@school_classes.nil? and @school_classes.include? 'Artysta'), class: "class_checkbox" %> Artysta</li>
  	    <li> <%= check_box_tag 'school_classes[]', 'Bushi', (true if !@school_classes.nil? and @school_classes.include? 'Bushi'), class: "class_checkbox" %> Bushi</li>
  	    <li><%= check_box_tag 'school_classes[]', 'Dworzanin', (true if !@school_classes.nil? and @school_classes.include? 'Dworzanin'), class: "class_checkbox" %> Dworzanin</li>
  	    <li><%= check_box_tag 'school_classes[]', 'Mnich', (true if !@school_classes.nil? and @school_classes.include? 'Mnich'), class: "class_checkbox" %> Mnich</li>
  	  </ul>
    </li>
    <li class="inline_block">
      <ul class="no_dot no_padding_and_margin">
        <li><%= check_box_tag 'school_classes[]', 'Ninja', (true if !@school_classes.nil? and @school_classes.include? 'Ninja'), class: "class_checkbox" %> Ninja</li>
        <li><%= check_box_tag 'school_classes[]', 'Shugenja', (true if !@school_classes.nil? and @school_classes.include? 'Shugenja'), class: "class_checkbox" %> Shugenja</li>
        <li><%= check_box_tag 'select_all', 'nil', false, class: "select_all_classes" %> Zaznacz Wszystkie</li>
      </ul>
    </li>
  </ul>
 
  <%= submit_tag "Szukaj!" %>

<% end %>
