<% provide(:title, "Czary") %>
<% provide(:header_active, "Legendopedia") %>
<a name="top"></a>


<% @chosen_spells.each do |spell| %>
  <div class ="show_object czar_<%= spell.zywiol %>">
    <h3 class="middle_text"><%= spell.nazwa %></h3>
    <ul class="object_list">
      <li><strong>Żywiol: </strong><%= spell.zywiol %></li>
      <li><strong>Krąg: </strong><%= spell.krag %></li>
      <li><strong>Zasięg: </strong><%= spell.zasieg %></li>
      <li><strong>Obszar: </strong><%= spell.obszar %></li>
      <li><strong>Czas trwania: </strong><%= spell.czas %></li>
      <li><strong>Podbicia: </strong><%= spell.podbicia %></li>
      <% unless spell.tagi.blank? %>
        <% if spell.tagi.count == 1 %>
          <li><strong>Typ: </strong><%= spell.tagi.to_sentence %> </li>
        <% else %>
          <li><strong>Typy: </strong><%= spell.tagi.join(", ") %> </li>
        <% end %>
      <% end %>
      <% unless spell.specjalne.blank? %>
        <li><strong>Specjalne: </strong><%= spell.specjalne %></li>
      <% end %>
      <li class="first"><%= spell.opis %></li>      
    </ul>
  </div>
<% end %>
<a href="#top">Do góry</a>

