<% provide(:title, "#{@user.username}") %>
<% provide(:header_active, "Login") %>
<% breadcrumb :show_user %>
<h1>Witaj <%= @user.username %></h1>
<%= link_to "Dodaj Postać", new_user_character_path(@user) %>

<% if @characters.count > 0 %>
  <p><strong>Oto Twoje postacie: </strong></p>
  <ul class= "no_dot">
    <% @characters.each do |character| %>
      <li><%= link_to "#{character.family} #{character.name}", user_character_path(@user, character.id) %>, 
        <%= link_to "Edytuj", edit_user_character_path(@user, character.id) %>, 
        <%= link_to "Usuń", user_character_path(@user, character.id), method: :delete %>
      </li>
    <% end %>
  </ul>
<% end %>

