<%= simple_form_for [announcement, announcement.comments.new], remote:true do |f| %>
  <!-- url jest przekazywany jako parametr do tego partiala -->
  <%= f.label :author, "#{current_user.username}:" %>
  <%= f.input_field :content, class: "form-control content_length comment_field" %>
  <%= f.hidden_field :from_url, value: url %>  
  <%= f.hidden_field :author, value: current_user.username %>
  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="char_counter">255</div>
  <%= f.submit "Dodaj!", class: "btn btn-primary" %>
<% end %>
