<%= form_for(announcement.comments.create, url: announcement_comments_path(announcement.id, url) ) do |form| %>
  <%= form.hidden_field :redirect_to, value: url %>
  <%= form.label :author, "#{current_user.username}:" %>
  <%= form.hidden_field :author, value: current_user.username %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.text_field :content, class: "form-control content_length" %>
  <div class="char_counter">255</div>
  <%= form.submit "Dodaj!", class: "btn btn-primary" %>
<% end %>
