<header>
	<%= link_to image_tag("logo.jpg", :class=>"logo"), root_path %>
	<nav class="navbar navbar-inverse">
		<div class="container">
		    <ul class="nav navbar-nav">
		      <li <% if yield(:header_active) == "Root" %> class="active" <% end %> ><%= link_to "Strona Główna", root_path %></li>
		      <li<% if yield(:header_active) == "Legendopedia" %> class="active" <% end %> ><%= link_to "Legendopedia", legendopedia_path %></li>
		      <li><%= link_to "Dział MG", "#" %></li>
		      <li><%= link_to "Zwoje z Sieci", "#" %></li>
		      <li><%= link_to "Zaloguj się!", "#" %></li>
		    </ul>
		</div>
	</nav>
</header>
