<header>
  <%= link_to image_tag("logo.jpg", :class=>"logo"), root_path %>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <ul class="nav navbar-nav">
        <li <% if yield(:header_active) == "Root" %> class="active" <% end %> >
          <%= link_to "Strona Główna", root_path %>
        </li>
        <li <% if yield(:header_active) == "Legendopedia" %> class="active" <% end %> >
          <%= link_to "Legendopedia", legendopedia_path %>
        </li>
        <li><%= link_to "Dział MG", "#" %></li>
        <li <%if yield(:header_active) == "Zwoje_z_Sieci" %> class="active" <% end %> ><%= link_to "Zwoje z Sieci", web_scrolls_path %></li>
        <% if current_user && current_user.admin? %>
          <li <% if yield(:header_active) == "Index_Userow" %> class="active" <% end %> > <%= link_to "Index userów", users_path %>
        <% end %>
        <li <% if yield(:header_active) == "Login" %> class="active" <% end %> >
          <% if user_signed_in? %>
            <%= link_to "Twój Dział", current_user %>
          <% else %>
            <%= link_to "Zaloguj się", new_user_session_path %>
          <% end %>
        </li>
        <li>
          <% if user_signed_in? %>
            <%= link_to "Wyloguj", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Zarejestruj się", new_user_registration_path %>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
</header>
